
@font-face{
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-family: 'Roboto';
}

@font-face{
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-family: 'Roboto Light';
}

*{
  font-family: 'Roboto Light';
  color: white;
  font-weight: normal;
}

body{
  background: #f2f2f2;
}
  