
/* Fonts */

@font-face{
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-family: 'Roboto';
}

@font-face{
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-family: 'Roboto Light';
}

/* Ids */

#card{
  background: #303030;
}

/* Tags */

body{
  background: #f2f2f2;
}

/* Other */

*{
  font-family: 'Roboto Light';
  color: white;
  font-weight: normal;
}

